{% import "_includes/forms" as forms %}

<form action="/process_form.php" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
	{% set fromEmail = getHelp is defined ? getHelp.fromEmail : currentUser.email %}

	{% if fromEmail == "support@pixelandtonic.com" or fromEmail == "support@craftcms.com" %}
		{% set fromEmail = "" %}
	{% endif %}

	{{ forms.textField({
		label: "Your Email"|t,
		class: 'fromEmail',
		name: 'fromEmail',
		value: fromEmail,
		errors: getHelp is defined ? getHelp.getErrors('fromEmail') : ''
	}) }}

	{{ forms.textareaField({
		label: "Message"|t,
		class: 'message',
		name: 'message',
		placeholder: "Tell Paul about your problems."|t,
		rows: 4
	}) }}

	{{ forms.fileField({
		label: "Attach a screenshot of your issue?"|t,
		class: 'attachAdditionalFile',
		name: 'attachAdditionalFile',
	}) }}

	<div class="buttons last">
		<input type="submit" class="btn submit" value="{{ 'Send'|t }}" name="contactDeveloperWidgetForm">
		<div class="spinner hidden"></div>
	</div>

	{% set email %}<a href="mailto:paul@mrpaulphan.com">paul@mrpaulphan.com</a>{% endset %}
	<p class="error hidden">{{ "Couldn’t send your message. Please email it to {email} instead."|t({ email: email })|raw }}</p>
</form>
